@import './../styles/launchAnimation.scss';


.shapes {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
}

.shape-group {
    height: 100%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.shape-group-two{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
}

.shape-group-three{
    margin-top: 5rem;
    margin-left: -9rem;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.shape-group-four{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space evenly; 
}

.shape-group-five {
    margin-left: 34rem;
    margin-top: -12rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.shape-group-six {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.shape-group-seven {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.shape-group-eight {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-around;
}

.shape-group-nine {
    margin-left: -1rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

.star-shape-image {
    width: 1rem;
    animation: glitter 4.5s linear 0s infinite normal;
   
}

.star-shape-two {
    width: 1rem;
    height: 1rem;
}

.star-three {
    animation: glitter 5s linear 0s infinite normal;

}

.square-shape-one {
    opacity: .7;
}

.square-shape-two {
    width: 1rem;
    height: 1rem;
}

.star-small-right {
    width: 1rem;
    height: 1rem;
    animation: glitter 7s linear 0s infinite normal;
    
}

.square-shape-three {
    right: 1rem;
    width: 6rem;
    height: 6rem;
    opacity: .3;
}

.diamond-shape-one {
    animation: glitter 10s linear 0s infinite normal;
}

.circle-shape-three {
    width: 1rem;
    height: 1rem;
}

.circle-shape-four {
    width: 3rem;
    height: 3rem;
    opacity: .4;

}

.star-blue {
    width: 2rem;
    height: 2rem;
}

.star-blue-two {
    width: 1.5rem;
    height: 1.5rem;
}

.diamond-right-two{
    width: 4rem;
    height: 4rem;
}

.diamond-right-three{
    width: 6rem;
    height: 6rem;
    animation: glitter 10s linear 0s infinite normal;
}

.circle-shape-right {
    width: 3rem;
    height: 3rem;
    opacity: .5;
    animation:  glitter 10s linear 0s infinite normal;

}

.square-pink {
    width: 3rem;
    height: 3rem;
}

.circle-opaque {
    width: 2rem;
    height: 2rem;
    opacity: .4;
}

.circle-green {
    width: 4rem;
    height: 4rem;
}

.diamond-right {
    animation: glitter 10s linear 0s infinite normal;
}

.small {
    width: 2rem;
    height:2rem;
    animation: glitter 10s linear 0s infinite normal;
}

.circle-shape-two {
    width: 3rem;
    height: 3rem;
    opacity: .5;
    animation:  glitter 10s linear 0s infinite normal;
}

.triangle-shape-one {
    width: 1rem;
    height: 1rem;
    animation: glitter 8s linear 0s infinite normal;
}

.triangle-shape-two {
    width: 3rem;
    height: 3rem;
    opacity: .7;
    animation: glitter 8s linear 0s infinite normal;
}

.square-shape-five {
    opacity: .4;
    width: 2rem;
    height: 2rem;
}

.square-shape-four {
    width: 3rem;
    height: 3rem;

}

.square-orange-color {
    width: 2rem;
    height: 2rem;
}

.triangle-pink-shape {
    width: 3rem;
    height: 3rem;
}

.circle-white {
    width: 3rem;
    height: 3rem;
    opacity: .7;
}

.square-green-two {
    width: 4rem;
    height: 4rem;
}


@keyframes glitter {
    0% {
        transform: scale(1.0);
        opacity: 1;
    }
    25% {
        transform: scale(0.5);
        opacity:0;
    }
    50% {
        transform: scale(1.0);
        opacity: 1;
    }
    75% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes glitter {
    0% {
        transform: scale(1.0);
        transform: rotate(0deg);
        opacity: 1;
    }
    25%{
        transform: scale(0.5);
        transform: rotate(90deg);
        opacity: 0;
    }
    50%{
        transform: scale(1.0);
        transform: rotate(180deg);
        opacity: 1;
    }
    75%{
        transform: scale(0.5);
        transform: rotate(360);
        opacity: 0;
    }
    100%{
        transform: scale(1.0);
        transform: rotate(0deg);
        opacity: 1;
    }
}